<!-- 
==============
CTA
============== 
-->
<section class="relative py-10 2xl:py-40  overflow-hidden">
    <div class="container px-3 mx-auto">
      <div class="max-w-3xl mx-auto text-center">
        <span class="text-lg text-blue-400 font-bold">Our Core Philosophy</span>
        <h2 class="my-10 text-6xl lg:text-6xl  text-white">What We Do At BurlingtonIO</h2>
        <div class="max-w-lg mx-auto">
          <p class="mb-20 text-xl text-gray-200">We prioritize web experiences that support your business. Creating fast websites is not just a box to check. Your customers count on your business being available to them from any device or connection. Whether you need a simple landing page or a fully-fledged web application we can keep your business in front of paying customers</p>
        </div>
      </div>
    </div>
  </section>