<!-- 
==============
HERO
============== 
-->
<section class="relative py-10 2xl:py-20 bg-gray-800 overflow-hidden">
  <img class="hidden lg:block absolute bottom-0 left-0 -mb-96 -ml-64" src="/lines/circle.svg" alt="decorative image">
  <div class="relative container px-4 mx-auto">
    <div class="flex flex-wrap items-center -mx-4 mb-20">
      <div class="w-full lg:w-1/2 px-4">
        <a class="inline-block text-2xl text-white font-bold" href="#">
          
        </a>
        <h2 class="mt-14 mb-14 text-6xl md:text-8xl  font-heading text-white">Fort Worth Web Development</h2>
        <p class="mb-10 font-sans font-thin text-3xl text-gray-200">Web development services focused on fast, secure, and stable web experiences</p>
        <a class="inline-block px-12 py-4 text-lg bg-gradient-to-r from-burlingtonBlue to-blue-500 hover:brightness-75 text-white border border-gray-300 hover:border-gray-200 rounded-full" href="#contact">Contact Us</a>
        <a class="inline-flex ml-auto items-center px-8 py-4 mr-2 text-lg text-white hover:text-gray-200 " href="#services">
          <span>Learn More</span>
          <svg class="ml-3 w-6 h-4" width="27" height="15" viewBox="0 0 27 15" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M26.0851 7.66792L19.398 14.355L18.5621 13.5192L24.242 7.83927L0.590432 7.84345L0.590431 6.66485L24.242 6.66067L18.98 1.39873L19.8159 0.562843L26.0851 6.83202C26.3159 7.06286 26.3159 7.43708 26.0851 7.66792Z" fill="white"></path>
          </svg>
        </a>
      </div>
      <div class="w-full lg:w-1/2 px-4">
        <img class="mt-28 lg:mt-0 lg:max-w-2xl mx-auto object-cover" src="images/Hero.webp" alt="BurlingtonIO desktop and mobile image">
      </div>
    </div>
    <div class="hidden lg:flex items-center justify-center">
      <a class="mr-4" href="#">
        
      </a>
      <a href="#">
        
      </a>
    </div>
  </div>
</section>
 
