<!-- 
==============
HERO
============== 
-->
<section class="relative py-10 2xl:py-20 bg-gray-800 overflow-hidden">
  <img class="hidden lg:block absolute bottom-0 left-0 -mb-96 -ml-64" src="/lines/circle.svg" alt="decorative image">
  <div class="relative container px-4 mx-auto">
    <div class="flex flex-wrap items-center -mx-4 mb-20">
      <div class="w-full lg:w-1/2 px-4">
        <a class="inline-block text-2xl text-white font-bold" href="#">
          
        </a>
        <h2 class="mt-24 mb-14 text-6xl md:text-7xl font-bold font-heading text-white">Fort Worth Web Development</h2>
        <p class="mb-10 text-xl text-gray-200">Web development services focused on fast, secure, and stable web experiences</p>
        <div class="flex flex-col sm:flex-row items-center mb-8">
          <div class="inline-flex justify-center items-center w-20 h-20 mr-4 lg:mr-14 mb-4 bg-burlingtonBlue rounded-lg">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="white" class="w-10 h-10">
              <path stroke-linecap="round" stroke-linejoin="round" d="M9 17.25v1.007a3 3 0 01-.879 2.122L7.5 21h9l-.621-.621A3 3 0 0115 18.257V17.25m6-12V15a2.25 2.25 0 01-2.25 2.25H5.25A2.25 2.25 0 013 15V5.25m18 0A2.25 2.25 0 0018.75 3H5.25A2.25 2.25 0 003 5.25m18 0V12a2.25 2.25 0 01-2.25 2.25H5.25A2.25 2.25 0 013 12V5.25" />
            </svg>
            
          </div>
          <div>
            <h4 class="mb-2 text-lg text-center sm:text-left text-white">Websites</h4>
            <p class="text-lg text-gray-200">Fast, affordable websites to get your business online</p>
          </div>
        </div>
        <div class="flex flex-col sm:flex-row items-center">
          <div class="inline-flex justify-center items-center w-20 h-20 mr-4 lg:mr-14 mb-4 bg-burlingtonBlue rounded-lg">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="white" class="w-10 h-10">
              <path stroke-linecap="round" stroke-linejoin="round" d="M5.25 14.25h13.5m-13.5 0a3 3 0 01-3-3m3 3a3 3 0 100 6h13.5a3 3 0 100-6m-16.5-3a3 3 0 013-3h13.5a3 3 0 013 3m-19.5 0a4.5 4.5 0 01.9-2.7L5.737 5.1a3.375 3.375 0 012.7-1.35h7.126c1.062 0 2.062.5 2.7 1.35l2.587 3.45a4.5 4.5 0 01.9 2.7m0 0a3 3 0 01-3 3m0 3h.008v.008h-.008v-.008zm0-6h.008v.008h-.008v-.008zm-3 6h.008v.008h-.008v-.008zm0-6h.008v.008h-.008v-.008z" />
            </svg>
            
          </div>
          <div>
            <h4 class="mb-2 text-lg text-center sm:text-left text-white">Web Applications</h4>
            <p class="text-lg text-center sm:text-left text-gray-200">Scaled-up, dynamic web experiences with the same focus on speed</p>
          </div>
        </div>
      </div>
      <div class="w-full lg:w-1/2 px-4">
        <img class="lg:max-w-2xl mx-auto object-cover" src="images/Hero.webp" alt="BurlingtonIO desktop and mobile image">
      </div>
    </div>
    <div class="hidden lg:flex items-center justify-center">
      <a class="mr-4" href="#">
        
      </a>
      <a href="#">
        
      </a>
    </div>
  </div>
</section>
 
