<!-- 
==============
SERVICES
============== 
-->
<section id = "services" class="py-24 bg-blueGray-950">
  <div class="container px-4 mx-auto">
    <div class="text-center">
      <span class="inline-block mb-4 text-sm text-burlingtonBlue font-medium tracking-tighter">Our Philosophy</span>
      <h2 class="mb-6 text-7xl lg:text-8xl text-white tracking-8xl md:max-w-md mx-auto">What We Do</h2>
      <p class="mb-20 text-white text-opacity-60 md:max-w-md mx-auto">We prioritize web experiences that support your business.Your customers count on your business being available to them from any device or connection. Whether you need a simple landing page or a fully-fledged web application we can keep your business in front of paying customers</p>
      <div class="flex flex-wrap -m-4">
        <div class="w-full md:w-1/2 lg:w-1/3 p-4">
          <div class="relative pt-16 px-10 pb-36 h-full bg-gradient-radial-dark border border-gray-800 border-opacity-30 rounded-5xl">
            <div class="relative z-10">
              <h3 class="mb-6 text-3xl text-white tracking-3xl">Web Development</h3>
              <p class="text-white text-opacity-60">Full scale web application services to bring your business ideas to life; optimized from the server to your customer. WordPress development also available, with bespoke builds tailored to your business</p>
            </div>
            <img class="absolute right-0 bottom-0" src="images/card-blur.svg" alt="">
          </div>
        </div>
        <div class="w-full md:w-1/2 lg:w-1/3 p-4">
          <div class="relative pt-16 px-10 pb-36 h-full bg-gradient-radial-dark border border-gray-800 border-opacity-30 rounded-5xl">
            <div class="relative z-10">
              <h3 class="mb-6 text-3xl text-white tracking-3xl">Static Web Sites</h3>
              <p class="text-white text-opacity-60">Blazing fast websites that will put your business in front of more customers; no more bloated web pages</p>
            </div>
            <img class="absolute right-0 bottom-0" src="images/card-blur.svg" alt="decorative image">
          </div>
        </div>
        <div class="w-full md:w-1/2 lg:w-1/3 p-4">
          <div class="relative pt-16 px-10 pb-36 h-full bg-gradient-radial-dark border border-gray-800 border-opacity-30 rounded-5xl">
            <div class="relative z-10">
              <h3 class="mb-6 text-3xl text-white tracking-3xl">Web Hosting</h3>
              <p class="text-white text-opacity-60">Around the clock server management; we can host your website or application with affordable plans. Available for both static websites and applications</p>
            </div>
            <img class="absolute right-0 bottom-0" src="images/card-blur.svg" alt="decorative image">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
    

  