<!-- 
==============
SERVICES
============== 
-->
<section id ="services" class="relative py-20 2xl:py-40 bg-gray-800 overflow-hidden">
    
    <img class="hidden lg:block absolute bottom-0 right-0 -mr-32 -mb-72" src="/lines/circle.svg" alt="decorative image">

    <div class="relative container px-4 mx-auto">
      <div>
        <div class="flex flex-wrap -m-6">
          <div class="w-full lg:w-1/2 p-6">
            <div class="p-16 bg-gray-600 rounded-lg">
              <span class="flex mb-14 justify-center items-center w-20 h-20 bg-burlingtonBlue rounded-lg">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="#ffffff" class="w-8 h-8">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 6.75L22.5 12l-5.25 5.25m-10.5 0L1.5 12l5.25-5.25m7.5-3l-4.5 16.5" />
                </svg>
              </span>
              <h3 class="mt-12 mb-6 text-3xl font-bold font-heading text-white">Web Development</h3>
              <p class="text-lg text-gray-200">Full scale web application services to bring your business ideas to life; optimized from the server to your customer</p>
            </div>
          </div>
          <div class="w-full lg:w-1/2 p-6">
            <div class="p-16 bg-gray-600 rounded-lg">
              <span class="flex mb-14 justify-center items-center w-20 h-20 bg-violet-500 rounded-lg">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" class="w-8 h-8">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M20.25 6.375c0 2.278-3.694 4.125-8.25 4.125S3.75 8.653 3.75 6.375m16.5 0c0-2.278-3.694-4.125-8.25-4.125S3.75 4.097 3.75 6.375m16.5 0v11.25c0 2.278-3.694 4.125-8.25 4.125s-8.25-1.847-8.25-4.125V6.375m16.5 0v3.75m-16.5-3.75v3.75m16.5 0v3.75C20.25 16.153 16.556 18 12 18s-8.25-1.847-8.25-4.125v-3.75m16.5 0c0 2.278-3.694 4.125-8.25 4.125s-8.25-1.847-8.25-4.125" />
                </svg>                
              </span>
              <h3 class="mt-12 mb-6 text-3xl font-bold font-heading text-white">WordPress Development</h3>
              <p class="text-lg text-gray-200">When you need to manage content without the bloat; secure WordPress installations</p>
            </div>
          </div>
          <div class="w-full lg:w-1/2 p-6">
            <div class="p-16 bg-gray-600 rounded-lg">
              <span class="flex mb-14 justify-center items-center w-20 h-20 bg-green-500 rounded-lg">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" class="w-8 h-8">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M15.59 14.37a6 6 0 01-5.84 7.38v-4.8m5.84-2.58a14.98 14.98 0 006.16-12.12A14.98 14.98 0 009.631 8.41m5.96 5.96a14.926 14.926 0 01-5.841 2.58m-.119-8.54a6 6 0 00-7.381 5.84h4.8m2.581-5.84a14.927 14.927 0 00-2.58 5.84m2.699 2.7c-.103.021-.207.041-.311.06a15.09 15.09 0 01-2.448-2.448 14.9 14.9 0 01.06-.312m-2.24 2.39a4.493 4.493 0 00-1.757 4.306 4.493 4.493 0 004.306-1.758M16.5 9a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0z" />
                </svg>                
              </span>
              <h3 class="mt-12 mb-6 text-3xl font-bold font-heading text-white">Simpler Static Websites</h3>
              <p class="text-lg text-gray-200">Blazing fast websites that will put your business in front of more customers; no more bloated web pages</p>
            </div>
          </div>
          <div class="w-full lg:w-1/2 p-6">
            <div class="p-16 bg-gray-600 rounded-lg">
              <span class="flex mb-14 justify-center items-center w-20 h-20 bg-pink-500 rounded-lg">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" class="w-8 h-8">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 18.75a60.07 60.07 0 0115.797 2.101c.727.198 1.453-.342 1.453-1.096V18.75M3.75 4.5v.75A.75.75 0 013 6h-.75m0 0v-.375c0-.621.504-1.125 1.125-1.125H20.25M2.25 6v9m18-10.5v.75c0 .414.336.75.75.75h.75m-1.5-1.5h.375c.621 0 1.125.504 1.125 1.125v9.75c0 .621-.504 1.125-1.125 1.125h-.375m1.5-1.5H21a.75.75 0 00-.75.75v.75m0 0H3.75m0 0h-.375a1.125 1.125 0 01-1.125-1.125V15m1.5 1.5v-.75A.75.75 0 003 15h-.75M15 10.5a3 3 0 11-6 0 3 3 0 016 0zm3 0h.008v.008H18V10.5zm-12 0h.008v.008H6V10.5z" />
                </svg>                
              </span>
              <h3 class="mt-12 mb-6 text-3xl font-bold font-heading text-white">E-Commerce</h3>
              <p class="text-lg text-gray-200">Custom solutions in your favorite E-Commerce platforms; Shopify and WooCommerce</p>
            </div>
          </div>
          <div class="w-full lg:w-1/2 p-6">
            <div class="p-16 bg-gray-600 rounded-lg">
              <span class="flex mb-14 justify-center items-center w-20 h-20 bg-yellow-500 rounded-lg">
                <svg class="w-8 h-8" width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M28.6406 14.1483H28.6691V10.4266C28.6691 4.48283 23.8661 0 17.4994 0C11.1326 0 6.32965 4.48283 6.32965 10.4266V14.1483H6.36011C4.93069 16.2796 4.0957 18.8415 4.0957 21.5948C4.0957 28.9869 10.1087 35 17.4994 35C24.8908 35 30.9046 28.987 30.9053 21.5948C30.9053 18.8415 30.0702 16.2796 28.6406 14.1483ZM7.81895 10.4266C7.81895 5.24826 11.8892 1.4893 17.4994 1.4893C23.1096 1.4893 27.1798 5.24826 27.1798 10.4266V12.3318C24.7379 9.78162 21.3013 8.19113 17.5001 8.19113C13.6979 8.19113 10.2608 9.78244 7.81895 12.3336V10.4266ZM17.5001 33.5107C10.93 33.5107 5.585 28.1649 5.585 21.5948C5.585 15.0256 10.9293 9.68043 17.4994 9.68043C24.071 9.68043 29.4153 15.0256 29.416 21.5948C29.416 28.1649 24.0717 33.5107 17.5001 33.5107Z" fill="white"></path>
                  <path d="M17.4996 14.8931C15.4466 14.8931 13.7764 16.5633 13.7764 18.6163C13.7764 19.7802 14.3378 20.8808 15.2657 21.5793V24.5735C15.2657 25.8052 16.268 26.8074 17.4996 26.8074C18.7305 26.8074 19.7336 25.8052 19.7336 24.5735V21.5793C20.6613 20.88 21.2229 19.7802 21.2229 18.6163C21.2229 16.5633 19.5518 14.8931 17.4996 14.8931ZM18.6136 20.5383C18.3842 20.6709 18.2443 20.9173 18.2443 21.1816V24.5735C18.2443 24.9846 17.9099 25.3181 17.4996 25.3181C17.0894 25.3181 16.755 24.9846 16.755 24.5735V21.1816C16.755 20.9173 16.6142 20.6723 16.3849 20.5383C15.6841 20.1302 15.2657 19.4116 15.2657 18.6163C15.2657 17.3847 16.268 16.3824 17.4996 16.3824C18.7305 16.3824 19.7336 17.3847 19.7336 18.6163C19.7336 19.4116 19.315 20.1302 18.6136 20.5383Z" fill="white"></path>
                </svg>
              </span>
              <h3 class="mt-12 mb-6 text-3xl font-bold font-heading text-white">Web Hosting</h3>
              <p class="text-lg text-gray-200">Around the clock server management; we can host your website or application with affordable plans</p>
            </div>
          </div>
          <div class="w-full lg:w-1/2 p-6">
            <div class="p-16 bg-gray-600 rounded-lg">
              <span class="flex mb-14 justify-center items-center w-20 h-20 bg-orange-500 rounded-lg">
                <svg class="w-8 h-8" width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <g clip-path="url(#clip0)">
                    <path d="M19.6875 21.8752C19.5009 21.8752 19.3142 21.8038 19.1713 21.6623L10.4213 12.9123C10.1369 12.6279 10.1369 12.1656 10.4213 11.8813C10.7057 11.5969 11.168 11.5969 11.4523 11.8813L20.2023 20.6313C20.4867 20.9156 20.4867 21.3779 20.2023 21.6623C20.0609 21.8038 19.8742 21.8752 19.6875 21.8752Z" fill="white"></path>
                    <path d="M0.728731 32.0832C0.537689 32.0832 0.351023 32.0074 0.212481 31.8703C0.0403977 31.6982 -0.0339773 31.4503 0.0126894 31.2111L2.92936 16.6278C3.00519 16.2486 3.35811 15.989 3.74748 16.0488C6.71373 16.4732 9.75727 15.4597 11.8791 13.3393C12.1635 13.0549 12.6258 13.0549 12.9102 13.3393C13.1946 13.6236 13.1946 14.0859 12.9102 14.3703C10.6294 16.6511 7.41665 17.8207 4.22873 17.5684L1.65769 30.4251L14.5144 27.8541C14.2635 24.6559 15.4316 21.4534 17.7125 19.1726C17.9969 18.8882 18.4591 18.8882 18.7435 19.1726C19.0279 19.457 19.0279 19.9193 18.7435 20.2036C16.6216 22.3255 15.6096 25.3647 16.0339 28.3353C16.0894 28.7188 15.8341 29.0776 15.455 29.1534L0.871648 32.0701C0.823523 32.0788 0.776856 32.0832 0.728731 32.0832Z" fill="white"></path>
                    <path d="M0.729531 32.0834C0.542865 32.0834 0.356198 32.0119 0.213281 31.8705C-0.0710938 31.5861 -0.0710938 31.1238 0.213281 30.8394L6.4112 24.6415C6.69557 24.3571 7.15787 24.3571 7.44224 24.6415C7.72661 24.9259 7.72661 25.3882 7.44224 25.6725L1.24432 31.8705C1.10286 32.0119 0.916198 32.0834 0.729531 32.0834Z" fill="white"></path>
                    <path d="M8.74967 26.2498C7.14113 26.2498 5.83301 24.9417 5.83301 23.3332C5.83301 21.7246 7.14113 20.4165 8.74967 20.4165C10.3582 20.4165 11.6663 21.7246 11.6663 23.3332C11.6663 24.9417 10.3582 26.2498 8.74967 26.2498ZM8.74967 21.8748C7.94613 21.8748 7.29134 22.5296 7.29134 23.3332C7.29134 24.1367 7.94613 24.7915 8.74967 24.7915C9.55322 24.7915 10.208 24.1367 10.208 23.3332C10.208 22.5296 9.55322 21.8748 8.74967 21.8748Z" fill="white"></path>
                    <path d="M18.2295 20.4167C18.0181 20.4167 17.8081 20.3248 17.6637 20.1484C17.4085 19.8378 17.4552 19.3784 17.7672 19.1217L33.8089 5.99671C34.1195 5.7415 34.5789 5.78817 34.8356 6.10025C35.0908 6.41088 35.0441 6.87025 34.732 7.12692L18.6904 20.2519C18.5562 20.3628 18.3929 20.4167 18.2295 20.4167Z" fill="white"></path>
                    <path d="M12.3962 14.5833C12.2401 14.5833 12.0826 14.5337 11.9485 14.4302C11.6306 14.1822 11.5737 13.7243 11.8201 13.4064L22.0285 0.281413C22.2749 -0.0335872 22.7343 -0.0948372 23.0522 0.154538C23.3701 0.400996 23.427 0.858913 23.1791 1.17829L12.9708 14.3033C12.8279 14.487 12.612 14.5833 12.3962 14.5833Z" fill="white"></path>
                    <path d="M31.8412 34.5831H7.72917C7.32667 34.5831 7 34.2564 7 33.8539C7 33.4514 7.32667 33.1247 7.72917 33.1247H31.8412C32.6171 33.1247 33.25 32.4918 33.25 31.716C33.25 31.121 32.8737 30.5887 32.3137 30.3874L24.9258 27.7493C23.7985 27.3468 23.0417 26.2706 23.0417 25.0747C23.0417 23.9066 23.7417 22.8712 24.8267 22.4381L30.7912 20.0522C31.1602 19.9035 31.5904 20.0828 31.7392 20.4591C31.8894 20.8324 31.7071 21.2568 31.3323 21.407L25.3677 23.7928C24.8412 24.0028 24.5 24.506 24.5 25.0747C24.5 25.6566 24.869 26.1801 25.4173 26.377L32.8052 29.0151C33.9442 29.4206 34.7083 30.507 34.7083 31.716C34.7083 33.2968 33.4221 34.5831 31.8412 34.5831Z" fill="white"></path>
                  </g>
                </svg>
              </span>
              <h3 class="mt-12 mb-6 text-3xl font-bold font-heading text-white">Web Design</h3>
              <p class="text-lg text-gray-200">Design included; Mobile-first designs professionally crafted to suit any vision or brand.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  