<!-- 
==============
STATS
============== 
-->
<section class="py-20 2xl:py-40 bg-gray-800">
    <div class="container px-4 mx-auto">
      <div class="max-w-xl mx-auto mb-16 lg:mb-28 text-center">
        <h2 class="mt-8 text-6xl text-white font-heading">
          Why Is Web Speed Important?
        </h2>
      </div>
      <div>
        <div class="flex flex-wrap -mx-6 lg:-mx-14">
          <div class="w-full md:w-1/2 lg:w-1/4 px-24 lg:px-14 mb-16 lg:mb-0 text-center lg:text-left">
            <p class="mb-10 text-7xl font-bold font-heading text-burlingtonBlue">
              <span>53</span>
              <span class="text-3xl">%</span>            
              <h3 class="mt-12 mb-8 text-2xl  font-heading text-white">of mobile users abandon your site if it takes longer than 3 seconds to load.</h3>
            </p>
            <div class="py-px mb-12 bg-gray-500"></div>
            <p class="text-lg text-gray-200">Your website needs to reach your customers on any device, with any connection</p>
          </div>
          <div class="w-full md:w-1/2 lg:w-1/4 px-24 lg:px-14 mb-16 lg:mb-0 text-center lg:text-left">
            <p class="mb-10 text-7xl font-bold font-heading text-burlingtonBlue">
              <span>0.1</span>
              <span class="text-3xl">S</span>
            </p>
            <h3 class="mt-12 mb-8 text-2xl font-heading text-white">of improvement in page speed for sites decreases bounce rate by 8.3%</h3>
            <div class="py-px mb-12 bg-gray-500"></div>

            <p class="text-lg text-gray-200">We keep pages lightweight, images optimized, and load times quick</p>
          </div>
          <div class="w-full md:w-1/2 lg:w-1/4 px-24 lg:px-14 mb-16 md:mb-0 text-center lg:text-left">
            <p class="mb-10 text-7xl font-bold font-heading text-burlingtonBlue">
              <span>106</span>
              <span class="text-3xl">%</span>
            </p>
            <h3 class="mt-12 mb-8 text-2xl font-heading text-white">increase in bounce rate when a page goes from 1s to 6s to load</h3>
            <div class="py-px mb-12 bg-gray-500"></div>

            <p class="text-lg text-gray-200">Your site should be quick to load on wired desktop connections and mobile connections without full service</p>
          </div>
          <div class="w-full md:w-1/2 lg:w-1/4 px-24 lg:px-14 text-center lg:text-left">
            <p class="mb-10 text-7xl font-bold font-heading text-burlingtonBlue">
              <span>2</span>
              <span class="text-3xl">MB</span>
            </p>
            <h3 class="mt-12 mb-8 text-2xl  font-heading text-white">53% of web pages serve more than 2MB of content for every page</h3>
            <div class="py-px mb-12 bg-gray-500"></div>

            <p class="text-lg text-gray-200">For informational web pages, much of this overhead can be stripped away or served more efficiently</p>
          </div>
        </div>
      </div>
    </div>
  </section>