<!-- 
==============
Testimonials
============== 
-->
<section class="pb-40 pt-24 bg-gray-800 overflow-hidden">
  <div class="max-w-xl mx-auto mb-12 lg:mb-28 text-center">
    <span class="text-lg text-blue-400 font-semibold">Working with business owners</span>
    <h2 class="mt-8 text-6xl text-white font-heading">Our Customers</h2>
  </div>
<div class="glide">
    <div class="glide__track" data-glide-el="track">    
    <!-- START SLIDES CONTAINER -->
        <div class="glide__slides">
            <!-- SLIDE -->
            <div class="glide__slide">
                <div class="container mx-auto px-4">
                    <div class="flex flex-wrap lg:flex-nowrap justify-center">
                      <div class="flex-shrink-0 w-full lg:max-w-5xl mx-auto lg:px-20">
                        <div class="flex flex-wrap items-center -mx-4">
                          <!-- Testimonial image -->
                          <div class="w-full md:w-2/5 px-4 mb-6 md:mb-0">
                            <img class="w-24 md:w-36 h-24 md:h-36 mx-auto rounded-full" src="/images/sanjit.jpeg" alt="Testimonial customer image">
                          </div>
                          <!-- Testimonial block -->
                          <div class="realtive w-full md:w-3/5 px-4">
                            <p class="mb-10 text-lg text-white">Launching my first website was stressful, but Anthony and his team were there to help me through it. Not only did he get my site up and running, but he made sure every small adjustment I needed was done perfectly. I would highly recommend BurlingtonIO</p>
                            <div class="relative flex flex-wrap justify-between items-center">
                              <div class=" w-full md:w-auto mb-6 md:mb-0">
                                <h3 class="text-lg text-white font-heading mb-1">Sanjit Toor</h3>
                                <p class="text-sm text-burlingtonBlue uppercase font-semibold tracking-widest">Editor-In-Chief || Las Vegas Chronicle</p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            <!-- END SLIDE -->
        </div>
    </div>
    
    <!-- CONTROLS -->
    <!-- <div class="glide__arrows flex justify-center my-20" data-glide-el="controls">
      <button class="glide__arrow glide__arrow--left" data-glide-dir="<"> -->
        <!-- Prev Arrow -->
        <!-- <a class="inline-block order-first mr-4 p-6 bg-black border hover:border-gray-700 rounded-full" >
        <svg width="17" height="10" viewBox="0 0 17 10" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M4.49 4.08057H16.5V6.1639H4.49V9.2889L0.5 5.12223L4.49 0.955566V4.08057Z" fill="#6dcbd5"></path>
        </svg>
        </a>
      </button>
      <button class="glide__arrow glide__arrow--right" data-glide-dir=">"> -->
        <!-- Next Arrow -->
        <!-- <a class="inline-block p-6 bg-black border hover:border-gray-700 rounded-full" >
            <svg width="17" height="10" viewBox="0 0 17 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12.51 4.08057H0.5V6.1639H12.51V9.2889L16.5 5.12223L12.51 0.955566V4.08057Z" fill="#6dcbd5"></path>
            </svg>
            </a>
      </button>
    </div> -->

</div>

<script>
    //Glide object parameters
    new Glide('.glide', {
        animationDuration: 800
    }).mount()
</script>

</section>