@font-face {
  font-family: 'Clash Grotesk';
  src: url('/fonts/ClashGrotesk-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Clash Grotesk';
  src: url('/fonts/ClashGrotesk-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Clash Grotesk';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('/fonts/ClashGrotesk-Medium.woff2') format('woff2');
}

body {
      font-family: 'Clash Grotesk', sans-serif;
}