---
export interface Props {
	title: string;
}

const { title } = Astro.props;
import '/public/styles/global.css'
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Simple, fast, and affordable web development for Texas small business. We offer a wide range of services to grow your market share">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name = "keywords" content = "Fort Worth Texas web development, Haslet Texas web development, Keller Texas web development, Southlake Texas web development, WordPress developer Texas, Web Hosting Texas, simple websites Texas, Texas website services, Texas website building, small business web developer Texas, web developer near me Texas, affordable web developer Texas, affordable business website Texas, affordable web agency for small businesses, custom web development Texas, websites for small business Texas"/>
		<meta property="og:title" content="Web Development For Small Business in Forth Worth Texas">
		<meta property="og:description" content="Clean, efficient, and stable websites for small business">
		<meta property="og:type" content="website">
		<meta property="og:url" content="https://www.burlingtonio.com/">
		<script src="https://unpkg.com/@glidejs/glide"></script>
		<link rel="stylesheet" href="node_modules/@glidejs/glide/dist/css/glide.core.min.css">
		<title>{title}</title>
	</head>
	<body class = "antialiased bg-body text-body font-body">
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--accent: 124, 58, 237;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
	}
	html {
		font-family: system-ui, sans-serif;
		background-color: #F6F6F6;
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}
</style>
